!! URxvt Appearance
URxvt.font: xft:tewi:style=Regular:size=9
URxvt.boldFont: xft:tewi:style=Bold:size=9
URxvt.italicFont: xft:tewi:style=Italic:size=9
URxvt.boldItalicfont: xft:tewi:style=Bold Italic:size=9
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 86x24
URxvt.internalBorder: 20
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false
*background:  #0a0010
*foreground:  #f0eef1
*color0:  #190010
*color1:  #b11946
*color2:  #ddc3a0
*color3:  #e3818e
*color4:  #6593c5
*color5:  #b8526d
*color6:  #6b77b1
*color7:  #e4e3e7
*color8:  #5a3c60
*color9:  #bd6473
*color10:  #ddc3a0
*color11:  #ddc3a0
*color12:  #95b6d7
*color13:  #b8526d
*color14:  #95b6d7
*color15:  #95877ce
